
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{

    padding: 0px;
    margin: 0px;
    /* font-family: 'Perpetua'; */
    font-family: 'Lora', serif;
}


a{
    
    text-decoration: none;
    color: #777474;
    outline-style: none;
}