

/* contact */
.contact-section{
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
    gap: 5px;
    width: 100%;
    padding-bottom: 15px;
    background-image: url('../../../assets/images/contact/bg-contact.svg');
}


.contact-section>h2{
    font-size: medium;
    /* color: white; */
    font-weight: bold;
    width: 100%;
    text-align: center;
}


#line-contact{
    width: 35px;
    height: 3px;
    min-height: 1px;
    background-color: white;
}


#contact-description{
    color: white;
    width: 100%;
    text-align: center;
}


.contact-input{
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgba(253, 253,253, 28%);
    /* color: white; */
    padding-left: 5px;
    height: 30px; 
    box-sizing: border-box; 
}
.contact-input::-moz-placeholder{
    color: rgb(255, 255, 255);
}
.contact-input:-moz-placeholder{
    color: rgb(255, 255, 255);
}
.contact-input::-webkit-input-placeholder{
    color: rgb(255, 255, 255);
}

#send-button{
    background-color: white;
    color: #488991;
    padding: 5px;
    width: 55px;
    border: none;
    border-radius: 20px;
    font-size: medium;
    font-weight: 500;
}


.grid-form-container{
    display: grid;
    grid-template-rows: repeat(6,auto);
    grid-template-columns: 1fr 50vw;
    grid-template-areas: 
    "name-input name-input"
    "email-input email-input"
    "title-input title-input"
    "select-input select-input"
    "message-input message-input"
    ". send-button"
    ;   
    gap: 8px;
    
}


.contact-input:nth-child(1){
    grid-area: name-input;
}


.contact-input:nth-child(2){
    grid-area: email-input;
}


.contact-input:nth-child(3){
    grid-area: title-input;
}


.contact-input:nth-child(4){
    grid-area: select-input;
}


.contact-input:nth-child(5){
    grid-area: message-input;
}



#send-button{
    grid-area: send-button;
    justify-self:end;
}


#send-button:hover{
    color: white;
    background-color: #488991;
}


option{
    display: block;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color:#488991;
}


textarea{
    resize: none;
    outline-style: none;

}


#message{
    height: 20vh;
}



/* media query */
@media (min-width:768px){

  .grid-form-container{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "name-input email-input"
    "title-input select-input"
    "message-input message-input"
    ". send-button";   
    gap: 12px;
    
}


.contact-section>h2{
    font-size: 40px;
}


#line-contact{
    width: 12vw;
}


#contact-description{
    font-size: 26px;

}


.contact-input{
    height: 45px;
    width: 24vw;
    font-size: large;
}


#message{
    width: 100%;
    height: 20vh;
}


#send-button{
    width: 85px;
    height: 35px;
    font-size: large;
    font-weight: bold;
}


}

@media (min-width:900px){


  .contact-input{
      /* height: 4vh; */
      /* width: 24vw; */
      height: 50px;
      /* width: 50%; */
      font-size: large;
  }


  #message{
      width: 100%;
      /* height: 20vh; */
      height: 245px;
  }

  
 
  }