
/* Main Colors */

#primary-color{

    color: #488991;
}


#secondary-color{

    color: #5FABA6;
}


#white-color{

    color:white;
}


#third-color{

    color: #777474;
}

